<%= form_with model: lawsuit do |form| %>

   <div class="form-control form-control-lg" type="text" aria-label=".form-control-lg example">
      <%= form.label :lawsuit_complainant %>
      </label>
      <%= form.text_field :lawsuit_complainant %>
      <% lawsuit.errors.full_messages_for(:lawsuit_complainant).each do |message| %>
      <><%= message %></div>
      <% end %>

     <%= form.label :lawsuit_defendant %>
     <%= form.text_field :lawsuit_defendant %>
     <% lawsuit.errors.full_messages_for(:lawsuit_defendant).each do |message| %>
     <div><%= message %></div>
     <% end %>
   </div>

  <div class="form-control form-control-lg" type="text" aria-label=".form-control-lg example">

     <%= form.label :lawsuit_date %>
     <%= form.date_field :lawsuit_date %>
     <% lawsuit.errors.full_messages_for(:lawsuit_date).each do |message| %>
     <div><%= message %></div>
     <% end %>

      <%= form.label :lawsuit_number %>
      <%= form.number_field :lawsuit_number %>
      <% lawsuit.errors.full_messages_for(:lawsuit_number).each do |message| %>
      <div><%= message %></div>
      <% end %>
   </div>

 <div class="mb-3">
    <p for="exampleFormControlTextarea1" class="form-label">
      <%= form.label :lawsuit_case_description %>
     </p>

     <div class="form-control" id="exampleFormControlTextarea1" rows="9">
      <%= form.text_area :lawsuit_case_description %>
     </div>
      <% lawsuit.errors.full_messages_for(:lawsuit_case_description).each do |message| %>
     <div><%= message %></div>
     <% end %>
 </div>


    <%= form.submit "Save" %>

   <button type="button" class="btn btn-outline-warning">
   <%= link_to 'Back to all Lawsuits', root_path %>
   </button>
   
   <% end %>