<h1>Lawsuits</h1>

<%= link_to 'New Lawsuit', new_lawsuit_path %>

<ul>
  <% @lawsuits.each do |lawsuit| %>
     <hr>
     <a href="<%= lawsuit_path (lawsuit) %>">
     <p> Lawsuit Number:
     <%= lawsuit.lawsuit_number %> 
     Complainant:
     <%= lawsuit.lawsuit_complainant %>
     Defendant 
     <%= lawsuit.lawsuit_defendant %> </p>
     </a>  
  <% end %>
</ul>