<h1>Lawsuits</h1>
<ul>
<button type="button" class="btn btn-outline-info">
  <%= link_to 'New Lawsuit', new_lawsuit_path %>
</button>

  
    <% @lawsuits.each do |lawsuit| %>
      <a href=<%= lawsuit_path (lawsuit) %>>
        
        <div class="list-group">

        <ul class="list-group-item list-group-item-action list-group-item-primary"> 
          <li>Lawsuit Number:</li>
          <%= lawsuit.lawsuit_number %>
        
          <li>Complainant:</li>
          <%= lawsuit.lawsuit_complainant %>
        
          <li>Defendant</li>
          <%= lawsuit.lawsuit_defendant %>
        </ul>
          </div>
      </a>  

  <% end %>
</ul>

