 <ul>
  <h1>Lawsuit details</h1>


   <ul class="list-group">

    <li class="list-group-item active" aria-current="true">Lawsuit Complainant</li>
    <li class="list-group-item"><%= @lawsuit.lawsuit_complainant %></li>
  
    <li class="list-group-item active" aria-current="true">Lawsuit Defendant</li> 
    <li class="list-group-item"><%= @lawsuit.lawsuit_defendant %></li>

    <li class="list-group-item active" aria-current="true">Lawsuit Date</li>
    <li class="list-group-item"><%= @lawsuit.lawsuit_date %></li>

    <li class="list-group-item active" aria-current="true"> Lawsuit Number</li>
    <li class="list-group-item"><%= @lawsuit.lawsuit_number %></li>

    <li class="list-group-item active" aria-current="true">Lawsuit Case Description</li>
    <li class="list-group-item"><%= @lawsuit.lawsuit_case_description %></li>
  </ul>


 <button type="button" class="btn btn-outline-warning">
 <%= link_to 'Back to all Lawsuits', root_path %>
 </button>
 
 <button type="button" class="btn btn-outline-success">
 <%= link_to 'Edit this Lawsuit', edit_lawsuit_path(@lawsuit) %>
 </button>

 <button type="button" class="btn btn-outline-danger">
 <%= link_to 'Delete this Lawsuit', lawsuit_path(@lawsuit), data: { turbo_method: :delete, turbo_confirm:'Are you sure what you want delete this lawasuit?' } %>
 </button>

</ul>